@import "tailwindcss";

@theme {
  --color-theme-darknight: #120f12;
  --color-theme-dark-purple: #26192b;
  --color-theme-malva: #a67cba;
  --color-theme-gray: #212220;

  /* Paleta de colores 
    fondo: #120f12
    color tecnologias: #26192b
    color texto: #a67cba;
    */

  /* animacion */
  /* 120f12  
  #1e1b1f  
  #3c2f41  
  #2a2e2d  
  #8f4a8c  
  #d9415d  
  #b1a8b9 */
}
