---
import BrandIcons from "./BrandIcons.astro";
---

<div class="w-full">
  <div class="flex flex-col gap-6">
    <div class="flex flex-row gap-6 justify-items-start">
      <div class="max-w-32 max-h-32">
        <img
          src="/me/makis-hristaras-SkG3lysMrFo-unsplash.jpg"
          alt=""
          class="object-cover w-full h-full rounded-full"
        />
      </div>
      <div class="flex items-center">
        <div class="flex flex-col text-white gap-2">
          <h1 class="text-4xl font-bold">Juan Manuel Contreras Zapata</h1>
          <p class="text-2xl font-bold">Programador Frontend y Backend</p>
          <p>Colombia, Bogota D.C.</p>
          <BrandIcons />
        </div>
      </div>
    </div>
    <div class="flex flex-col text-white gap-2">
      <div class="text-2xl font-bold">Sobre mí</div>
      <div>
        Soy un programador frontend y backend con una afición a la
        codificación, al cual le encanta tener un ámbito de trabajo alegre y
        bastante agradable, así como poder ayudar en lo que más pueda dentro de
        mis capacidades a los demás o, dado el caso, a la empresa, para poder
        entregarle mi 100%, en búsqueda de expandir su conocimiento en el área
        laboral, tanto la como personal, para poder llegar a tener un
        conocimiento vasto e increíblemente amplio en el área, ya que me fascina
        aprender algo nuevo todos los días, así mismo encontrar las maneras en
        las que se pueda hacer todo más fácil, rápido y de la mejor manera.
      </div>
    </div>
  </div>
  <div class="text-neutral-800 mt-7">
    <hr />
  </div>
</div>
