---
import BrandIcons from "./BrandIcons.astro";
---

<div class="w-full">
  <div class="flex flex-col gap-6">
    <div class="flex flex-row gap-6 justify-items-start">
      <div class="max-w-32 max-h-32">
        <img
          src="/me/makis-hristaras-SkG3lysMrFo-unsplash.jpg"
          alt=""
          class="object-cover w-full h-full rounded-full"
        />
      </div>
      <div class="flex items-center">
        <div class="flex flex-col text-white gap-2">
          <h1 class="text-4xl font-bold">Juan Manuel Contreras Zapata</h1>
          <p class="text-2xl font-bold">Programador Frontend y Backend</p>
          <p>Colombia, Bogota D.C.</p>
          <BrandIcons />
        </div>
      </div>
    </div>
    <div class="flex flex-col text-white gap-2">
      <div class="text-2xl font-bold">Sobre mí</div>
      <div>
        Soy un programador frontend y backend con una afición a la codificación.
        el cual le encanta tener un ámbito de trabajo alegre, poder ayudar en lo
        que más se pueda, en búsqueda de expandir su conocimiento en el área.
        laborar como personal para poder llegar a tener un conocimiento vasto e
        increíble, ya que me fascina aprender algo nuevo y de maneras en las que
        se pueda hacer todo más rápido, fácil y de la mejor manera.
      </div>
    </div>
  </div>
  <div class="text-neutral-800 mt-7">
    <hr />
  </div>
</div>
