---
import FileIcon from "../../public/icons/File.astro";
import GithubIcon from "../../public/icons/Github.astro";
import LinkIcon from "../../public/icons/Link.astro";
import LinkedinIcon from "../../public/icons/Linkedin.astro";
import cv from "../../public/cv/cv.pdf"

const email = "juanmanuelcontreraszapata33@gmail.com";

---

<div class="flex flex-row gap-2">

  <!-- Parte del correo -->
  <div class="flex cursor-pointer">
    <button
      id="copy-email-btn"
      class="flex flex-row gap-2 bg-theme-malva border border-theme-malva rounded-2xl px-4 py-1 cursor-pointer"
      type="button"
    >
      <div class="size-6">
        <LinkIcon class="text-white" />
      </div>
      <p class="text-sm font-medium align-middle text-white cursor-pointer">
        {email}
      </p>
    </button>
  </div>

  <!-- Parte del CV -->
  <div>
    <a
      href={cv}
      class="flex bg-theme-dark-purple border border-theme-malva rounded-2xl px-3 py-1"
      download={cv}
    >
      <div class="size-6">
        <FileIcon class="text-theme-malva" />
      </div>
    </a>
  </div>

  <!-- Parte del github -->
  <div>
    <a
      href={"https://github.com/kuhaku2031"}
      class="flex bg-theme-dark-purple border border-theme-malva rounded-2xl px-3 py-1"
    >
      <div class="size-6">
        <GithubIcon class="text-theme-malva" />
      </div>
    </a>
  </div>


  <!-- Parte del linkedin -->
  <div>
    <a
      href={"https://www.linkedin.com/in/juancontrerasz/"}
      class="flex bg-theme-dark-purple border border-theme-malva rounded-2xl px-3 py-1"
    >
      <div class="size-6">
        <LinkedinIcon class="text-theme-malva" />
      </div>
    </a>
  </div>
</div>

<script>
  const btn = document.getElementById('copy-email-btn');
  if (btn) {
    btn.addEventListener('click', () => {
      navigator.clipboard.writeText("juanmanuelcontreraszapata33@gmail.com").then(
        () => {
          alert("Correo copiado en el portapapeles");
        },
        () => alert("No se pudo copiar el correo al portapapeles")
      );
    });
  }
</script>
