---
import FileIcon from "../../public/icons/File.astro";
import GithubIcon from "../../public/icons/Github.astro";
import LinkIcon from "../../public/icons/Link.astro";
import LinkedinIcon from "../../public/icons/Linkedin.astro";
---

<div class="flex flex-row gap-2">
  <div>
    <a
      href={""}
      class="flex flex-row gap-2 bg-theme-malva border border-theme-malva rounded-2xl px-4 py-1"
    >
      <div class="size-6">
        <LinkIcon class="text-white" />
      </div>
      <p class="text-sm font-medium align-middle text-white">
        juanmanuelcontreraszapata33@gmail.com
      </p>
    </a>
  </div>
  <div>
    <a
      href={""}
      class="flex bg-theme-dark-purple border border-theme-malva rounded-2xl px-3 py-1"
    >
      <div class="size-6">
        <FileIcon class="text-theme-malva" />
      </div>
    </a>
  </div>
  <div>
    <a
      href={""}
      class="flex bg-theme-dark-purple border border-theme-malva rounded-2xl px-3 py-1"
    >
      <div class="size-6">
        <GithubIcon class="text-theme-malva" />
      </div>
    </a>
  </div>
  <div>
    <a
      href={""}
      class="flex bg-theme-dark-purple border border-theme-malva rounded-2xl px-3 py-1"
    >
      <div class="size-6">
        <LinkedinIcon class="text-theme-malva" />
      </div>
    </a>
  </div>
</div>
