---
import { experiences } from "./tecnologies";
---

<div class="flex flex-col w-full py-6 gap-4">
  <h1 class="text-white text-2xl font-bold">Tecnologías</h1>

  <div class="flex flex-row gap-4">
    {
      experiences.map((experiences) => (
        <div class="px-4 py-2 bg-[#26192b] rounded-3xl">
          <p class=" text-theme-malva">{experiences.company}</p>
        </div>
      ))
    }
  </div>
</div>
