---
import "@/styles/output.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/src/styles/output.css" rel="stylesheet" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
    background: #120f12;
    justify-content: center;
    display: flex;
  }
  main {
    max-width: 900px;
    width: 100%;
    padding: 64px 24px 64px 24px;
    height: 100%;
  }
</style>
