<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>

    <link href="/src/styles/output.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
    height: 100%;
    background: #120f12;
    justify-content: center;
    display: flex;
  }
  main {
    height: 100%;
    max-width: 1000px;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
  }
</style>
